{% extends base %}
{% block title %}{{ listing.title }} - Materials - {{ store.name }}{% endblock %}
{% block content %}

<div class="row margin-top-20">
    <div class="col-xs-12">
        <span style="float:left; margin-right: 10px; width:80px;">{{ listing.image220Url | img_tag: listing.title, 'img-responsive img-thumbnail'}}</span><h2>{{ listing.title | escape }} <small>by {{ listing.teamMember.displayName }}</small></h1>        
    </div>
</div>

<div class="divider"></div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Materials</strong></div>

            {% if listing.materials == empty %}
            <div>No materials.</div>
            {% endif %}	

            {% if listing.materials != empty %}
            <ul class="list-group">
                {% for material in materials %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">{{ material.name | escape }}</div>
                            <div class="col-md-7">{{ material.description }}</div>
                            <div class="col-md-2 pull-right"><a class="btn btn-primary" role="button" href="{{ material.downloadUrl }}" download="{{ material.fileName }}"><i class="fa fa-download"></i> Download</a></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}	
        </div>
    </div>
</div>

    
{% endblock %}