{% extends base %}
{% block title %}{{ playlist.title }} - {{ store.name }}{% endblock %}
{% block head %}
{{ templatePage | meta_tags }}
{% endblock %}
{% block content %}

{% if playlist.availableToWatch %}
<div class="row margin-bottom-20">
    <!-- Image and main body -->
    <div class="col-md-12">
        <h2>{{playlist.title}}</h2>
        <div class="embed-responsive embed-responsive-16by9 playlist-wrapper">
            <iframe name="playlist" id="playlist" src="/playlist/{{playlist.id}}/embed" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>
{% else %}
<div class="row margin-top-20">
    <!-- Image and main body -->
    <div class="col-md-7">
        <div class="left-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-wrapper">{{ playlist.image720Url | img_tag: playlist.title}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="right-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ playlist.title | escape }}</h2>
                </div>
                <div class="panel-body">
                    <div class="price-section">
                        <div class="row">
                            <div class="col-md-12">
                                {% if playlist.rentalAvailable %}
                                <div class="row price-wrapper">
                                    <div class="col-md-6">
                                        <div class="price">{{playlist.rentalPrice | money}} {% if playlist.rentalPrice > 0 %}/ {{ playlist.rentalPeriod | period }} {% endif %}</div>
                                    </div>

                                    <div class="col-md-6">
                                        <button class="btn btn-block btn-primary btn-lg rent-playlist" data-playlist="{{ playlist.id }}">Rent</button>
                                    </div>
                                </div>
                                {% endif %}

                                {% if playlist.purchaseAvailable %}
                                <div class="row price-wrapper">
                                    <div class="col-md-6">
                                        <div class="price">{{playlist.purchasePrice | money}}</div>
                                    </div>

                                    <div class="col-md-6">
                                        <button class="btn btn-block btn-primary btn-primary-dark btn-lg purchase-playlist" data-playlist="{{ playlist.id }}">
									  {% if playlist.purchasePrice > 0 %}
									  Purchase
									  {% else %}
									  Free View
									  {% endif  %}
									  </button>
									  <span style="font-size:14px">{% if playlist.purchasePrice == 0 or playlist.purchasePrice == null %}Registration required{% endif %}</span>
                                    </div>
                                </div>
                                {% endif %}

                                {% if playlist.subscriptionAvailable %}
                                <div class="row price-wrapper">
                                    <div class="col-md-6">
                                        <div class="price">{{playlist.subscriptionPrice | money}}</div>
                                    </div>

                                    <div class="col-md-6">
                                        <button class="btn btn-block btn-primary btn-lg video-subscription" data-playlist="{{ playlist.id }}">Subscribe</button>
                                    </div>
                                </div>

                                {% if store.subscriptionHelpText != null and store.subscriptionHelpText != "" %}
                                <p>{{store.subscriptionHelpText}}</p>                                
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="details">
                        <div class="row">
                            <div class="col-md-12">
                                <p><span class="title">Total Duration:</span> {{ playlist.duration | duration_to_string}}</p>
                                <p><span class="title">Video{% if playlist.videoCount > 1 %}s{% endif %}:</span> {{ playlist.videoCount }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if playlist.descriptionHtml %}
<div class="row margin-top-20">
    <!-- Image and main body -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="description">
                    {% if playlist.availableToWatch %}
                    <div class="collapse" id="collapse-description">
                        <div class="collapse-inner">
                            {{ playlist.descriptionHtml }}
                        </div>
                    </div>

                    <div class="text-center collapse-button-wrapper">
                        <button type="button" class="btn btn-default" data-toggle="collapse" href="#collapse-description"><i class="fa fa-angle-down" aria-hidden="true"></i> Description</button>
                    </div>
                    {% else %}
                    {{ playlist.descriptionHtml }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <!-- Image and main body -->
    <div class="col-md-12">
        <div class="playlist-items">
            <div class="panel panel-default">
                <div class="panel-heading">Includes</div>
                <div class="panel-body">
                    {% include playlist-item-partial%}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
