<div class="long-card playlist">
    <div class='card-info'>
        <div class="title one-line"><a href='{{playlist.url}}'>{{playlist.title | escape}}</a></div>
        <div class="description">{{playlist.videoCount}} Video{%if playlist.videoCount > 1 %}s{% endif %} <br />  {{playlist.duration | duration_to_string}}</div>
        <div class="card-image">
            <div class="card-image-wrapper">
                <a href="{{playlist.url}}">
                    <img src='{{playlist.image220Url}}' />
                </a>
            </div>
        </div>

        <div class="playlist-price">
            {% if playlist.rentalAvailable %}
            <span>
            {{playlist.rentalPrice | money}} {% if playlist.rentalPrice > 0 %}/ {{ playlist.rentalPeriod | period }} {% endif %}
            </span>
            {% endif %}

            {% if playlist.purchaseAvailable %}
            <span>
              {{playlist.purchasePrice | money}}
            </span>
            {% endif %}
        </div>


        <div class="register">
            <a class='btn btn-primary btn-lg' href="{{playlist.url}}">View Details</a>
        </div>
              
        <div class="additional-info">
            <a href="{{playlist.url}}">Additional Info <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
</div>