{% extends base %}
{% block title %}{{ teamMember.displayName }} - {{ store.name }}{% endblock %}
{% block head %}
{{ '/Content/shared/plugins/magnific-popup/magnific-popup.min.css' | stylesheet_tag }}
{% endblock %}
{% block content %}

<div class="row margin-top-20">
    <!-- Image and main body -->
    <div class="col-md-12">
        <div class="top-section">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="profile-image-wrapper {% if teamMember.bannerImageUrl %}banner-image-wrapper{% endif %}">
                        {% if teamMember.bannerImageUrl %}
                        <div class="banner-image">
                            <img src="{{teamMember.bannerImageUrl}}" />
                        </div>
                        {% endif %}

                        <div class="profile-image">
                            <img src="{{ teamMember.profileImageUrl }}" />
                        </div>
                    </div>

                    <div class="name"><strong>{{ teamMember.fullName | escape }}</strong></div>

                    <div class="details {% if teamMember.bannerImageUrl %}banner-image-wrapper{% endif %}">
                        <div class="location">
                            <p><span class="title">Location:</span></p>
                            <p>{{ teamMember.location }}</p>
                        </div>

                        {% if teamMember.qualificationsHtml != empty %}
                        <div class="qualification">
                            <p><span class="title">Qualification:</span></p>
                            <p>{{ teamMember.qualificationsHtml }}</p>
                        </div>
                        {% endif %}

                        {% if teamMember.profileDescription != empty %}
                        <div class="description">
                            <p><span class="title">Description:</span></p>
                            <p>{{ teamMember.profileDescription }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        {% for listing in listings %}
        {% include listing-card %}
        {% endfor %}
    </div>
</div>

{% if portfolios != empty  %}
<div class="row">
    <div class="col-md-12">
        <div class="portfolios" id="portfolio">
            <div class="panel panel-default">
                <div class="panel-heading">Portfolio</div>
                <div class="panel-body">
                    {% for portfolio in portfolios %}
                    {% include portfolio %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}

{% block scripts %}
{{ '/Content/shared/plugins/magnific-popup/jquery.magnific-popup.min.js' | script_tag }}
{{ '/Content/shared/portfolio/portfolio.js' | script_tag }}
{% endblock %}
