{% extends base %}
{% block title %}{{ video.title }} - {{ store.name }}{% endblock %}
{% block head %}
{{ templatePage | meta_tags }}
{% endblock %}
{% block content %}

<div class="row margin-top-20">
    <!-- Image and main body -->
    <div class="col-md-8">
        <div class="left-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        {% include video-player%}
                    </div>

                    {% if video.descriptionHtml != empty %}
                    <div class="description">
                        <p>{{ video.descriptionHtml }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Right booking info panel -->
    <div class="col-md-4">
        <div class="right-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ video.title | escape }}</h2>
                </div>
                <div class="panel-body">
                    <div class="price-section">
                        {% if video.subscribed == false and video.purchased == false %}
                        <div class="row price-wrapper">
                            {% if video.rented %}
                            <div class="col-md-12">
                                <div class="price">
                                    Rental expires {{ video.rentalExpire | from_x }}
                                </div>
                            </div>
                            {% endif %}
                            {% if video.rentalAvailable and video.rented == false %}
                            <div class="col-md-6">
                                <div class="price">
                                    {{ video.rentalPrice | money }} {% if video.rentalPrice > 0 %}/ {{ video.rentalPeriod | period }} {% endif %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <button class="btn btn-primary btn-lg btn-block video-rental" data-video="{{ video.id }}">
								{% if video.rentalPrice > 0 and video.rentalPrice != null %}
								Rent
								{% else %}
								Free View
								{% endif %}
								</button>
								{% if video.rentalPrice == 0 or video.rentalPrice == null %}
								<span style="font-size:12px">Registration required</span>
								{% endif %}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if video.subscribed == false and video.purchaseAvailable and video.purchased == false %}
                        <div class="row price-wrapper">
                            <div class="col-md-6">
                                <div class="price">{{ video.purchasePrice | money }}</div>
                            </div>

                            <div class="col-md-6">
                                <button class="btn btn-primary btn-primary-dark btn-lg btn-block video-purchase" data-video="{{ video.id }}">
								{% if video.purchasePrice > 0 or video.purchasePrice != null %}
								Purchase
								{% else %}
								Free View
								{% endif %}
								</button>
								{% if video.purchasePrice == 0 or video.purchasePrice == null %}
								<span style="font-size:12px">Registration required</span>
								{% endif %}
                            </div>
                        </div>
                        {% endif %}

                        {% if video.subscriptionAvailable and video.subscribed == false %}
                        <div class="row price-wrapper">
                            <div class="col-md-6">
                                <div class="price">{{ video.subscriptionPrice | money }} {% if video.subscriptionPrice > 0 %}/ month {% endif %}</div>
                            </div>

                            <div class="col-md-6">
                                <button class="btn btn-primary btn-lg btn-block  video-subscription" data-video="{{ video.id }}">Subscribe</button>
                            </div>
                        </div>

                        {% if store.subscriptionHelpText != null and store.subscriptionHelpText != "" %}
                        <p>{{store.subscriptionHelpText}}</p>
                        {% endif %}
                        {% endif %}
                    </div>

                    <div class="">
                        {% if video.author%}
                        <p class="one-line"><span class="title">Author:</span></p>
                        <p>{{ video.author | escape }}</p>
                        {% endif %}
                        {% if video.tags != empty %}
                        <p><span class="title">Tags:</span></p>
                        <p>
                            {% for tag in video.tags %}
                            <div class="label label-primary" title="{{tag}}">{{tag}}</div>
                            {% endfor %}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- File Attachments -->
{% if video.fileAttachments != empty %}
<div class="row">
    <div class="col-md-12">
        <div class="attachments">
            <div class="panel panel-default">
                <div class="panel-heading">attachments</div>
                <div class="panel-body">
                    {% for attachment in video.fileAttachments %}
                    <div class="attachment">
                        <div class="attachment-title">{{ attachment.title | escape }}</div>
                        <p class="attachment-description">{{ attachment.description | escape }}</p>
                        <div class="filename">
                            <i class="fa {{attachment.icon}}"></i> {{ attachment.filename | escape }}
                            {% if attachment.downloadUrl != null %}
                            <a href="{{ attachment.downloadUrl }}" class="btn btn-default btn-sm" target="_blank" download="{{ attachment.filename | escape }}"><i class="fa fa-download"></i> Download</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{% include video-player-scripts%}
{% endblock %}