{% extends base %}
{% block title %}{{search.query | escape}} - {{ store.name }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 search-nav">
        <ul class="nav nav-pills" role="tablist">
            {% if listings != empty %} 
            <li><a href="/search?query={{ search.query | url_encode}}">Live 1-to-1 Sessions</a></li>
            {% endif %}
            {% if search.type == 'video' %} 
                {% if webinarTopics != empty %} 
                <li><a href="/search/webinar?query={{ search.query | url_encode }}">Webinars</a></li>
                {% endif %}
            <li class="active"><a>Videos</a></li>
            {% endif %}
            {% if search.type == 'webinar' %} 
            <li class="active"><a>Webinars</a></li>
                {% if videos != empty %} 
                <li><a href="/search/video?query={{ search.query | url_encode }}">Videos</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>

<div class="divider"></div>

{% if search.query != empty %}
<div class="row listing-result">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2>Results for "{{ search.query | escape}}"</h2>
            </div>
        </div>

        {% if search.type == 'video' %} 
        <div class="row">
            <div class="col-md-12">
                {% for video in videos %}
                {{ video | video_card }}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if search.type == 'webinar' %} 
        <div class="row">
            <div class="col-md-12">
                {% for topic in webinarTopics %}
                    {% include webinar-topic-card %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endif %}


{% if page.prev != true %}
{% assign prev = 'disabled' %}
{% endif %}

{% if page.next != true %}
{% assign next = 'disabled' %}
{% endif %}

{% if page.next != true %}
{% assign next = 'disabled' %}
{% endif %}

{% if page.totalResults > 0 %}
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <ul class="pagination">
                {% if page.prev %}
                <li><a href="/search/{{search.type}}?query={{search.query | url_encode}}&page={{page.number| minus:1}}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><a>&laquo;</a></li>
                {% endif %}

                {% for i in (1...page.totalPages) %}
                {% if i == page.number %}
                {% assign current = 'active' %}
                {% else %}
                {% assign current = '' %}
                {% endif %}
                <li class="{{ current }}"><a href="/search/{{search.type}}?query={{search.query | url_encode}}&page={{i}}">{{i}}</a></li>
                {% endfor %}                                

                {% if page.next %}
                <li><a href="/search/{{search.type}}?query={{search.query | url_encode}}&page={{page.number | plus:1}}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><a>&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% if page.totalResults == 0 %}
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1>No results.</h1>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}