{% extends base %}
{% block title %}{{webinar.topic.title}} - {{ store.name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/Content/webinar/webinar.css">
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/{{chromeWebstoreWebinarAppId}}">
<style>
    [ng\:cloak], [ng-cloak], .ng-cloak{
      display: none !important;
    }
</style>
{% endblock %}

{% block content %}

<div ng-app="webinarApp" class="webinar-access">
    <div ng-controller="webinarHostAccessCtrl" ng-cloak>
        <div class="margin-top-50 margin-bottom-50">
            <div class="sign-in" ng-show="role == 'Attendee'">
                <div ng-show="invalidBrowser" class="text-center">
                    <h2>Please upgrade your browser to view this {{store.webinarNoun | downcase}}</h2>

                    <h2 class="margin-top-50">Step 1</h2>
                    <div>Install or launch one of the following browsers.</div>

                    <div class="row margin-top-50" style="">
                        <div class="col-xs-3 col-xs-offset-3">
                            <a href="https://www.google.com/chrome/" target="_blank">
                                <img src="/Content/image/chrome.png" style="max-width:100%" />
                                <div style="margin-top:10px; font-size: 17px;">Chrome</div>
                            </a>
                            <div style="margin-top:10px;">Windows, Mac & Android</div>
                        </div>
                        <div class="col-xs-3">
                            <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">
                                <img src="/Content/image/firefox.png" style="max-width:100%" />
                                <div style="margin-top:10px; font-size: 17px;">Firefox</div>
                            </a>
                            <div style="margin-top:10px">Windows, Mac & Android</div>
                        </div>
                    </div>

                    <div class="margin-top-50 margin-bottom-50" style="border-top: 1px solid #ccc"></div>

                    <h2>Step 2</h2>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div>Copy this URL, and paste it into the address bar of the <strong>compatible browser</strong></div>

                            <div class="input-group" style="margin-top:20px;">
                                <input type="text" class="form-control" ng-value="documentLocation" id="documentLocation" >
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ngclipboard data-clipboard-target="#documentLocation" ngclipboard-success="copyToClipboard.success(e);" ngclipboard-error="copyToClipboard.error(e);" data-toggle="tooltip" ng-mouseleave="copyToClipboard.hideMessage()" id="clipboard-message"><i class="fa fa-files-o"></i> Copy</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-hide="invalidBrowser">
                    <div class="row webinar-details">
                        <div class="col-md-12">
                            <div class="text-center">
                                <img ng-src="{{webinar.topic.imageThumbSrc}}" />
                                <div class="title">
                                    <h1 class="one-line">{{webinar.topic.title | escape}}</h1>
                                    <h4 class="one-line">{{webinar.name | escape}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-top-50 margin-bottom-50" ng-hide="account.isVisible() || launchAppUrl">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row" ng-show="isConnectingToExpertory">
                                <div class="col-md-12 text-center"><i class="fa fa-spinner fa-4x fa-spin"></i></div>
                            </div>

                            <div class="row" ng-hide="isConnectingToExpertory">
                                <div class="col-md-8 text-center user-details">
                                    <h4>Enter your details to access the Webinar</h4>
                                    <form ng-submit="BeginWebinar(email, name)" class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-2">
                                                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="name" required="requred">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-2">
                                                <input type="email" class="form-control" id="email" placeholder="Email Address" ng-model="email" required="requred">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary" ng-disabled="isConnectingUsingCustomerAccount">Join Webinar</button>
                                    </form>
                                    <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>
                                </div>

                                <div class="col-md-4 text-center margin-top-50">
                                    <p>If you already have an account</p>
                                    <a class="btn btn-default" ng-href="/login?returnUrl={% raw  %}{{documentLocation}}{% endraw %}">Sign In</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="margin-top-50 margin-bottom-50" ng-show="launchAppUrl" style="text-align:center;">
                        <a class="btn btn-primary btn-lg" ng-href="{% raw  %}{{launchAppUrl}}{% endraw %}"><i class="fa fa-external-link" aria-hidden="true"></i> Join Webinar</a>
                    </div>

                    <div class="row margin-top-50 margin-bottom-50" ng-show="account.isVisible() && !launchAppUrl">
                        <div class="col-md-12">
                            <div class="account-wrapper">
                                <div class="account" title="Join Webinar" ng-click="account.joinWebinar()">
                                    <div class="pull-right"><i class="fa fa-angle-right fa-2x"></i></div>
                                    <img ng-src="{% raw  %}{{account.getDetails().image}}{% endraw %}" class="pull-left" />
                                    <div>
                                        <div class="one-line"><strong><span ng-bind="account.getDetails().fullName"></span></strong></div>
                                        <div class="one-line"><span ng-bind="account.getDetails().email"></span></div>
                                    </div>
                                </div>

                                <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

                                <div class="text-center">
                                    <button type="button" class="btn-link" ng-click="account.differentAccountUrl()">Different Account?</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="install-app" ng-show="role == 'Host' || role == 'Presenter'">

                <div class="well well-large" ng-show="isInIFrame">
                    <i class="fa fa-fa-external-link fa-4x pull-left"></i>
                    <h1>Almost there...</h1>
                    <p>This page has been embedded into another webpage which prevents the {{siteInfo.siteName}} Chrome Desktop App from loading. <br/>
                    Click the button below to reload this page in a new tab.</p>
                    <p><button ng-click="reloadLocationInNewTab()" class="btn btn-primary btn-lg">Launch Webinar</button></p>
                </div>

                <div class="well well-large" ng-hide="isInIFrame">
                    <i class="fa fa-download fa-4x pull-left"></i>
                    <h1>Install {{siteInfo.siteName}} {{store.webinarNoun}} on your desktop.</h1>
                    <p>Present your {{store.webinarNoun }} using the {{siteInfo.siteName}} Chrome Desktop App. <span ng-show="isChrome && !appInstalled">Click the install button below to begin. Installation only takes a few moments.</span></p>
                    <p>Note: Only the Host and Presenters need to install the {{siteInfo.siteName}} Chrome Desktop App. Attendees can view the Webinar from their web browser and they do not need to install anything.</p>
                    <p ng-show="isChrome && !appInstalled">
                        <button ng-click="installChromeApp()" id="install-button" class="btn btn-primary btn-lg">Install</button><br />
                        Once installed, <a href="" onclick="location.reload()">click here</a> or reload this page.
                    </p>
                    <div ng-hide="isChrome">
                        <h3>Instructions</h3>
                        If you have Google Chrome installed, open this page in Chrome. If you do not have Google Chrome installed, <a href="https://www.google.com/chrome/" target="_blank">Install Chrome</a> now.
                        <ol>
                            <li>Switch to your desktop PC, Mac or Laptop.</li>
                            <li>Copy the URL from the address bar at the top of this window.</li>
                            <li>Open Google Chrome on your PC or Mac.</li>
                            <li>Paste the URL into Chrome.</li>
                        </ol>
                    </div>
                    <p ng-show="appInstalled">
                        Install complete! <button onclick="location.reload()" class="btn btn-primary btn-lg">Launch Now</button> <br />
                        or reload this page.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    window.InitValues = {};
    window.InitValues.webinar = {{ webinar | json:'webinar' }};
    window.InitValues.role = '{{ role }}';
    window.InitValues.secureCode = '{{ secureCode }}';
    window.InitValues.attendee = {{ attendee | json:'attendee' }};
    window.InitValues.chromeWebstoreWebinarAppId = '{{ chromeWebstoreWebinarAppId }}';
    window.InitValues.session = {{ session | json:'session' }};

</script>
<script src="/Content/sdk/storemanagement.js"></script>
<script>
    Expertory.init({
        expertoryHost: "{{siteInfo.sitePath}}"
    });
</script>
<script src="//static.opentok.com/v2/js/opentok.js"></script>
<script src="/Content/webinar/webinar-bundle.js"></script>
{% endblock %}