{% extends base %}
{% block title %}Calendar - {{ store.name }}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Calendar</h2>
        <div class="divider"></div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <form role="form" method="GET">
            <h4>Please check the webinar details.</h4>
            <p><strong>Webinar:</strong> <a href="{{ webinar.topic.url }}" target="_blank">{{ webinar.topic.title | escape }} {{ webinar.name | escape }}</a></p>
            <p><strong>Time:</strong> {{ webinar.startTime | local_time }}</p>
            <p><strong>Duration:</strong> {{ webinar.topic.duration }} minutes</p>
            <p>
                <a class="btn btn-primary" role="button" href="/webinar/{{webinar.id}}/calendar?code={{webinar.secureCode}}&download=true&accessby={{webinar.accessBy}}"><i class="fa fa-download"></i> Download</a>
                <a class="btn btn-success" role="button" href="{{webinar.googleCalendarUrl}}" target="_blank"><i class="fa fa-calendar-plus-o"></i> Add to Google Calendar</a>
            </p>
        </form>
    </div>
</div>
    
{% endblock %}

