{% block head %}
{{ '/Content/shared/plugins/plugins-bundle.min.css' | stylesheet_tag }}
{% endblock %}
<style>
    .vjs-control-bar .vjs-resolution-button-label{
        line-height: 3em;
    }

    .vjs-playback-rate .vjs-playback-rate-value {
        font-size: 1em;
        line-height: 3em; 
        display: block; 
    }

    .vjs-watermark-content img{
        max-width: 100px;
        opacity: 0.5;
    }

     .video-js button.btn-primary{
        color: white !important;
        background-color: #2a8ada !important;
        border-color: #2072b7 !important;
    }

    .vjs-overlay.overlay{
        left: 0 !important;
        margin-left: 0 !important;
        padding: 0 !important;
        width: 100%;
        max-width: 100% !important;
    }

    .vjs-overlay.overlay img{
        width: 100%;
    }

    .vjs-overlay{
        animation: fadein 1s;
        -webkit-animation:fadein 1s;
        opacity:1
    }

    @keyframes fadein{
        0%{opacity:0}
        100%{opacity:1}
    }

    @-webkit-keyframes fadein{
        0%{opacity:0}
        100%{opacity:1}
    }

</style>

<div class="video-player" style="width:100%; height: 100%">
    <!-- play normal mp4 video -->
    {% if videoUrl != null %}
    <video id="video-player" class="video-js vjs-default-skin vjs-big-play-centered" controls {% if noautoplay %}{% else %}autoplay{% endif %} preload="auto" data-setup="{}" style="width:100%; height:100%;">
        <source src="{{ videoUrl}}" type='video/mp4'>
        <p>Video Playback Not Supported</p>
    </video>
    {% endif %}

    <!-- play embed or vod -->
    {% if video != null %}
    {% if video.availableToWatch == true or video.previewVideoUrl360p != null%}
    <video id="video-player" class="video-js vjs-default-skin vjs-big-play-centered" style="display:none; width:100% !important; height: 100% !important;"></video>

    <div id="end-frame" style="display:none;">
        <div class="end-frame" style="display:none;">
            <div class="panel">
                {% if video.availableToWatch and video.callToActionUrl %}
                <div style="height:100%;">
                    <iframe id="cta-iframe" src="{{video.callToActionUrl}}" style="padding-bottom: 27px;height:100%;position: absolute;left: 0;" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                {% else %}
                {% include video-purchase-partial %}
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <a data-toggle="modal" data-target=".video-preview-modal" id="video-player-thumb">
        <div class="video-js vjs-default-skin preview-thumbnail vjs-big-play-centered" style="width:100%; height: 100%;">
            <!--show actual preview image if it is not embed for responsive image resize -->
            {% if templatePage != 'embed-video' %}
            <div class="img-responsive img-thumbnail img-thumbnail-video">{{ video.thumbnail720Url | img_tag: video.title}}</div>
            {% endif %}
            <div class="vjs-big-play-button" role="button" aria-live="polite" tabindex="0" aria-label="play video"><span aria-hidden="true"></span></div>
        </div>
    </a>

    <div class="modal fade video-preview-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>

                <div class="modal-body video-purchase-wrapper" style="text-align:center; padding: 20px 50px 50px 50px;">
                    {% include video-purchase-partial %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="right-click-alert" style="display: none; border-radius:5px; background-color: #fff; border: 1px solid #eee; padding: 5px 10px; z-index:5; width: 170px;">
        <div class="text-center">
            <a href="{{siteInfo.AlternateHomePage}}"><small class="text-muted powered-by">Powered by <img src="/Content/logo/{{siteInfo.SiteName}}-logo-light-77x17.png" alt="{{siteInfo.SiteName}}" /></small></a>
        </div>
    </div>

    {% endif %}
    <script>
        try {
            // remove video sources for PhantomJS so screenshots render correctly
            if (navigator.userAgent.indexOf('PhantomJS') > 0) {
                // remove video sources
                $('video source').remove();
                $('video p').remove();
            }
        }
        catch (err) { }

    </script>
</div>

